@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply w-full max-w-6xl mx-auto;
}

.hero {
  background-image: url("../../public/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.services {
  background-image: url("../../public/section-img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-image: url("../../public/herobg2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.text-hover:hover {
  color: #ffab00 !important;
}
